<div class="well">
    <form>
        <div class="form-group">
            <label for="nome">Novo dia:</label>
            <input type="date" class="form-control" id="day" name="day" [(ngModel)]="agendamento.dia" required autofocus>
        </div>
        <div class="form-group">
            <label for="nome">Novo horário:</label>
            <input type="time" class="form-control" id="hour" name="hour" [(ngModel)]="agendamento.horario" required autofocus>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success" value="Enviar" (click)="cadastrar()" >
            <a [routerLink]="['/agendamento']" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
            </a>
        </div>
    </form>
</div>