<div class="well">
    <form>
        <div class="form-group">
            <label for="nome">Novo dia:</label>
            <input type="date" class="form-control" id="day" name="day" [(ngModel)]="schedulingDay.date" required
                autofocus>
        </div>

        <button (click)="teste()">Add</button>
        <!-- <button (click)="teste1()">Remover</button> -->

        <div class="form-group" *ngFor="let item of schedulingDay.schedulingHour">
            <div>
                <label for="nome">Horário:</label>
                <input type="time" class="form-control" name="{{item.id}}" [(ngModel)]="item.hour">
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-success" value="Enviar" (click)="enviar(schedulingDay.id)">
            <a [routerLink]="['/schedulingDay']" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
            </a>
        </div>
    </form>
</div>